@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    /* ALL project colors */

    ----primaryColor: hsl(228, 66%, 53%);
    ---primaryColorLight: hsl(223, 100%, 97%);
    --primaryColorDark: hsl(216, 58%, 28%);
    ---gradientLight: rgb(114, 145, 255);
    --bgColor: hsl(0, 0%, 100%);
    ---formColor: hsl(20, 42%, 87%);
    ---whiteColor: hsl(240, 25%, 97%);
    ---blackColor: hsl(0, 0%, 18%);
    --blackColorLight: hsl(233, 3%, 51%);
    ---shadowColor: hsl(219, 63%, 95%);
    --inputColor: hsl(330, 12%, 97%);
    ---cardColor: - hsl(300, 3%, 94%);
    ----orangeColor: hsl(38.8, 100%, 50%);
    /* background: linear-gradient(48deg, rgb(114, 145, 255), rgb(42, 73, 198)); */

    /* ALL project font-sizes  */

    --biggestFontSize: 2rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 10px;
}

/* START: Subscribe Style =========================>  */

.Subscribe {
    .secContent{
        background: linear-gradient(48deg, rgb(114, 145, 255), rgb(42, 73, 198));
        padding: 2rem 1.5rem;
        border-radius: var(--borderRadius);
        text-align: center;
        display: grid;
        gap: .5rem;

        h1 {
            color: var(---whiteColor);
            font-size: var(--h1FontSize);
            text-align: center;
        }

        p {
            color: var(---primaryColorLight);
            font-size: var(--normalFontSize);
            padding: 1rem;
            text-align: center;
            max-width: 500;
            margin: auto;
        }

        .btn {
            background: rgb(114, 145, 255);
            border: solid 2px var(---whiteColor);
            font-weight: 600;
            border-radius: var(--borderRadius);
            max-width: 200px;
            margin: auto;

            &:hover {
                background: linear-gradient(48deg, rgb(114, 145, 255), rgb(42, 73, 198));
            }
        }
    }
}


/* MEDIA QUERIES ==================================================> */

@media screen and (min-width:480px) {
    .Subscribe {
        .secContent{
            padding: 4rem 1.5rem;

            h1{
                font-size: var(--biggestFontSize);
            }
            p{
                font-size: var(--h3FontSize);
            }
            .btn{
                font-size: var(--h3FontSize);
            }
        }
    }
}