@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    /* ALL project colors */

    ----primaryColor: hsl(228, 66%, 53%);
    ---primaryColorLight: hsl(223, 100%, 97%);
    --primaryColorDark: hsl(216, 58%, 28%);
    ---gradientLight: rgb(114, 145, 255);
    --bgColor: hsl(0, 0%, 100%);
    ---formColor: hsl(20, 42%, 87%);
    ---whiteColor: hsl(240, 25%, 97%);
    ---blackColor: hsl(0, 0%, 18%);
    --blackColorLight: hsl(233, 3%, 51%);
    ---shadowColor: hsl(219, 63%, 95%);
    --inputColor: hsl(330, 12%, 97%);
    ---cardColor: - hsl(300, 3%, 94%);
    ----orangeColor: â˜hsl(25, 84%, 53%);
    /* background: linear-gradient(48deg, rgb(114, 145, 255), rgb(42, 73, 198)); */

    /* ALL project font-sizes  */

    --biggestFontSize: 2rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 10px;
}

/* START: Sponsors Style ================>  */

.Sponsors{
    padding: 1rem;
    background: var(---shadowColor);

    .secContainer{
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .img{
            width: 80px;
            height: 100px;
            object-fit: contain;
            opacity: .3;
            &:hover{
                opacity: 1;
            }
        }
    }
}

/* MEDIA QUERIES ===================================================> */

@media screen and (max-width:480px){
    .hide{
        display: none;
    }
}

@media screen and (min-width:860px){
    .Sponsors{
        .secContainer{
            gap: 7rem;

            .span{
                .img{
                    width: 100px;
                }
            }
        }
    }
}